---
layout: base-layout.njk
---

<article class"prose">
  <h1>{{ title }}</h1>
  {{ content | safe }}
</article>
{% if nextPost.url %}
<a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>
{% endif %}
{% if previousPost.url %}
<a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>
{% endif %}